body{
    background-image: url("Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}
h2{
    color: black;
}
a{
    text-decoration: solid;
    color: black;
}
p{
    font-size: 200%;
}
th, td{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}   